# Specifiek - Moment

In [57]:
#imports
import pandas as pd
import datetime as dt
import numpy as np
import itertools
from collections import Counter
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_excel("C:/Users/fdnecker/OneDrive - UGent/UGent/2019-2020/Doctoraat Floor/2019-2020/Smartphone_slaap_SimonA/MobileDNA data/input/ppn_logdagengrgl5.xlsx")

Belangrijk- algemeen per participant - dus over alle categorieën en applicaties heen.

In [ ]:
df.info()

focus op 'gebruik'

## gem_freq_u_day | gem_freq_u_ev | gem_freq_u_night

In [8]:
gem_freq_d = df.groupby(['id', 'dag', 'uur' ])['fancyname'].count().groupby(['id', 'uur']).mean().to_frame().reset_index()

In [9]:
gem_freq_d

                                        id  uur  fancyname
0     025a9d5a-8728-434d-9de6-9c263e7bf5cc    0  10.333333
1     025a9d5a-8728-434d-9de6-9c263e7bf5cc    1  14.000000
2     025a9d5a-8728-434d-9de6-9c263e7bf5cc    2  14.000000
3     025a9d5a-8728-434d-9de6-9c263e7bf5cc    3   2.000000
4     025a9d5a-8728-434d-9de6-9c263e7bf5cc    7   7.000000
...                                    ...  ...        ...
2173  f9b010d8-45b9-498f-a465-b6355cbdd7e3   19   3.666667
2174  f9b010d8-45b9-498f-a465-b6355cbdd7e3   20   3.000000
2175  f9b010d8-45b9-498f-a465-b6355cbdd7e3   21   4.000000
2176  f9b010d8-45b9-498f-a465-b6355cbdd7e3   22   4.750000
2177  f9b010d8-45b9-498f-a465-b6355cbdd7e3   23   2.100000

[2178 rows x 3 columns]

Hoeveel gemiddeld geen smartphonegebruik 's nachts

In [14]:
rust = pd.pivot_table(gem_freq_d, values='fancyname', index=['id'],
                    columns=['uur'])

In [16]:
rust.fillna(0)

uur,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
id,,,,,,,,,,,,,,,,,,,,,
025a9d5a-8728-434d-9de6-9c263e7bf5cc,10.333333,14.000000,14.0,2.0,0.0,0.0,0.000000,7.000000,6.733333,2.800000,...,2.428571,2.000000,5.875000,3.833333,5.285714,5.636364,6.000000,9.000000,11.470588,7.846154
11159c15-a951-4219-850d-c33768509b01,6.000000,1.500000,0.0,0.0,2.0,0.0,3.000000,5.875000,5.714286,6.000000,...,4.923077,4.933333,4.200000,4.588235,4.529412,5.437500,5.470588,3.928571,7.357143,9.090909
1201c8b4-6a0b-45f0-ac63-04b258d6d668,10.545455,19.500000,14.0,0.0,5.0,0.0,5.333333,11.100000,9.846154,10.357143,...,10.000000,4.714286,7.000000,9.066667,7.142857,8.250000,9.833333,9.666667,7.071429,8.153846
12efa7c1-14af-4a50-ad7d-10d76c77af92,3.461538,11.111111,6.0,1.0,0.0,4.0,0.000000,0.000000,2.666667,5.200000,...,6.846154,6.923077,8.727273,6.800000,15.600000,9.846154,8.384615,12.545455,9.916667,6.928571
130d3a79-9b84-43c3-b279-5ddb3c1390d2,7.250000,10.000000,1.0,0.0,0.0,0.0,11.000000,10.333333,17.666667,20.333333,...,23.833333,34.200000,25.000000,13.800000,34.600000,9.000000,12.571429,18.800000,21.600000,5.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f29e3bf2-8b9a-48a5-a83f-dcff88fe9b70,7.000000,0.000000,0.0,9.0,7.0,0.0,0.000000,1.250000,16.062500,5.266667,...,6.333333,2.500000,5.500000,5.400000,7.230769,7.250000,9.400000,20.058824,28.411765,13.600000
f3214263-3140-4687-bd61-1fbc68623b3f,8.714286,2.500000,14.0,5.0,1.0,0.0,0.000000,0.000000,10.285714,9.600000,...,11.142857,11.866667,21.933333,12.470588,18.000000,16.333333,20.066667,15.142857,12.062500,12.666667
f3d282d8-1be9-4cde-aa37-21e4dbacd77b,7.333333,2.000000,0.0,6.0,0.0,0.0,0.000000,4.187500,5.166667,2.000000,...,4.250000,8.333333,6.818182,5.666667,7.428571,7.250000,8.000000,9.470588,8.076923,6.142857
f6b9965f-312a-44e8-a54c-ea16242894fa,10.500000,11.000000,10.5,21.0,4.0,0.0,0.000000,0.000000,1.000000,2.750000,...,4.000000,4.250000,3.181818,7.250000,7.444444,5.454545,6.181818,6.500000,5.800000,3.666667
f9b010d8-45b9-498f-a465-b6355cbdd7e3,8.000000,2.000000,0.0,0.0,0.0,0.0,0.000000,2.583333,4.600000,3.000000,...,4.333333,4.500000,7.000000,1.750000,3.800000,3.666667,3.000000,4.000000,4.750000,2.100000

In [22]:
rust = rust.reset_index()

In [24]:
rust = rust.fillna(0)

In [25]:
rust

uur,id,0,1,2,3,4,5,6,7,8,...,14,15,16,17,18,19,20,21,22,23
0,025a9d5a-8728-434d-9de6-9c263e7bf5cc,10.333333,14.000000,14.0,2.0,0.0,0.0,0.000000,7.000000,6.733333,...,2.428571,2.000000,5.875000,3.833333,5.285714,5.636364,6.000000,9.000000,11.470588,7.846154
1,11159c15-a951-4219-850d-c33768509b01,6.000000,1.500000,0.0,0.0,2.0,0.0,3.000000,5.875000,5.714286,...,4.923077,4.933333,4.200000,4.588235,4.529412,5.437500,5.470588,3.928571,7.357143,9.090909
2,1201c8b4-6a0b-45f0-ac63-04b258d6d668,10.545455,19.500000,14.0,0.0,5.0,0.0,5.333333,11.100000,9.846154,...,10.000000,4.714286,7.000000,9.066667,7.142857,8.250000,9.833333,9.666667,7.071429,8.153846
3,12efa7c1-14af-4a50-ad7d-10d76c77af92,3.461538,11.111111,6.0,1.0,0.0,4.0,0.000000,0.000000,2.666667,...,6.846154,6.923077,8.727273,6.800000,15.600000,9.846154,8.384615,12.545455,9.916667,6.928571
4,130d3a79-9b84-43c3-b279-5ddb3c1390d2,7.250000,10.000000,1.0,0.0,0.0,0.0,11.000000,10.333333,17.666667,...,23.833333,34.200000,25.000000,13.800000,34.600000,9.000000,12.571429,18.800000,21.600000,5.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,f29e3bf2-8b9a-48a5-a83f-dcff88fe9b70,7.000000,0.000000,0.0,9.0,7.0,0.0,0.000000,1.250000,16.062500,...,6.333333,2.500000,5.500000,5.400000,7.230769,7.250000,9.400000,20.058824,28.411765,13.600000
102,f3214263-3140-4687-bd61-1fbc68623b3f,8.714286,2.500000,14.0,5.0,1.0,0.0,0.000000,0.000000,10.285714,...,11.142857,11.866667,21.933333,12.470588,18.000000,16.333333,20.066667,15.142857,12.062500,12.666667
103,f3d282d8-1be9-4cde-aa37-21e4dbacd77b,7.333333,2.000000,0.0,6.0,0.0,0.0,0.000000,4.187500,5.166667,...,4.250000,8.333333,6.818182,5.666667,7.428571,7.250000,8.000000,9.470588,8.076923,6.142857
104,f6b9965f-312a-44e8-a54c-ea16242894fa,10.500000,11.000000,10.5,21.0,4.0,0.0,0.000000,0.000000,1.000000,...,4.000000,4.250000,3.181818,7.250000,7.444444,5.454545,6.181818,6.500000,5.800000,3.666667
105,f9b010d8-45b9-498f-a465-b6355cbdd7e3,8.000000,2.000000,0.0,0.0,0.0,0.0,0.000000,2.583333,4.600000,...,4.333333,4.500000,7.000000,1.750000,3.800000,3.666667,3.000000,4.000000,4.750000,2.100000

In [26]:
rust_long =pd.melt(rust,id_vars=['id'],var_name='uren', value_name='mean appE')

In [30]:
rust_long = rust_long.sort_values(by=['id', 'uren'])

In [31]:
rust_long.head()

                                       id uren  mean appE
0    025a9d5a-8728-434d-9de6-9c263e7bf5cc    0  10.333333
106  025a9d5a-8728-434d-9de6-9c263e7bf5cc    1  14.000000
212  025a9d5a-8728-434d-9de6-9c263e7bf5cc    2  14.000000
318  025a9d5a-8728-434d-9de6-9c263e7bf5cc    3   2.000000
424  025a9d5a-8728-434d-9de6-9c263e7bf5cc    4   0.000000

In [32]:
def avondgebruik(row):
    uur = row["uren"]
    
    if (uur >= 6) & (uur < 21):
        return "overdag gebruik"
    elif (uur >= 21) & (uur <= 23):
        return "avondgebruik"
    elif (uur >= 0) & (uur < 6):
        return "nachtgebruik"
    else:
        return "niet gevonden"

In [34]:
rust_long['gebruik'] = rust_long.apply(avondgebruik, axis=1)

In [35]:
rust_long.head()

                                       id uren  mean appE       gebruik
0    025a9d5a-8728-434d-9de6-9c263e7bf5cc    0  10.333333  nachtgebruik
106  025a9d5a-8728-434d-9de6-9c263e7bf5cc    1  14.000000  nachtgebruik
212  025a9d5a-8728-434d-9de6-9c263e7bf5cc    2  14.000000  nachtgebruik
318  025a9d5a-8728-434d-9de6-9c263e7bf5cc    3   2.000000  nachtgebruik
424  025a9d5a-8728-434d-9de6-9c263e7bf5cc    4   0.000000  nachtgebruik

In [37]:
rust_long_sum = rust_long.groupby(['id','gebruik' ])['mean appE'].sum().reset_index()

In [38]:
rust_long_sum.head()

                                     id          gebruik  mean appE
0  025a9d5a-8728-434d-9de6-9c263e7bf5cc     avondgebruik  28.316742
1  025a9d5a-8728-434d-9de6-9c263e7bf5cc     nachtgebruik  40.333333
2  025a9d5a-8728-434d-9de6-9c263e7bf5cc  overdag gebruik  72.842316
3  11159c15-a951-4219-850d-c33768509b01     avondgebruik  20.376623
4  11159c15-a951-4219-850d-c33768509b01     nachtgebruik   9.500000

In [40]:
rust_long_sum.columns = ['id', 'gebruik', 'sum appE']

In [41]:
def meanU(row):
    gebruik = row["gebruik"]
    value = row["sum appE"]
    
    if (gebruik == 'avondgebruik'):
        return value/3
    elif (gebruik == 'nachtgebruik'):
        return value/6
    elif (gebruik == 'overdag gebruik'):
        return value/15
    else:
        return "niet gevonden"

In [42]:
rust_long_sum['mean appE'] = rust_long_sum.apply(meanU, axis=1)

In [43]:
rust_long_sum.head()

                                     id          gebruik   sum appE  mean appE
0  025a9d5a-8728-434d-9de6-9c263e7bf5cc     avondgebruik  28.316742   9.438914
1  025a9d5a-8728-434d-9de6-9c263e7bf5cc     nachtgebruik  40.333333   6.722222
2  025a9d5a-8728-434d-9de6-9c263e7bf5cc  overdag gebruik  72.842316   4.856154
3  11159c15-a951-4219-850d-c33768509b01     avondgebruik  20.376623   6.792208
4  11159c15-a951-4219-850d-c33768509b01     nachtgebruik   9.500000   1.583333

In [44]:
gem_freq_u = pd.pivot_table(rust_long_sum, values='mean appE', index=['id'],
                    columns=['gebruik'])

In [45]:
gem_freq_u

gebruik,avondgebruik,nachtgebruik,overdag gebruik
id,,,
025a9d5a-8728-434d-9de6-9c263e7bf5cc,9.438914,6.722222,4.856154
11159c15-a951-4219-850d-c33768509b01,6.792208,1.583333,5.569991
1201c8b4-6a0b-45f0-ac63-04b258d6d668,8.297314,8.174242,8.817338
12efa7c1-14af-4a50-ad7d-10d76c77af92,9.796898,4.262108,6.818644
130d3a79-9b84-43c3-b279-5ddb3c1390d2,15.400000,3.041667,19.075873
...,...,...,...
f29e3bf2-8b9a-48a5-a83f-dcff88fe9b70,20.690196,3.833333,6.776774
f3214263-3140-4687-bd61-1fbc68623b3f,13.290675,5.202381,13.004732
f3d282d8-1be9-4cde-aa37-21e4dbacd77b,7.896789,2.555556,5.568791
f6b9965f-312a-44e8-a54c-ea16242894fa,5.322222,9.500000,3.826556
f9b010d8-45b9-498f-a465-b6355cbdd7e3,3.616667,1.666667,3.754444

In [51]:
gem_freq_u = gem_freq_u.reset_index()

In [53]:
gem_freq_u.columns = ['id','gem_freq_u_day', 'gem_freq_u_ev', 'gem_freq_u_night']

In [55]:
gem_freq_u.head()

,id,gem_freq_u_day,gem_freq_u_ev,gem_freq_u_night
0,025a9d5a-8728-434d-9de6-9c263e7bf5cc,9.438914,6.722222,4.856154
1,11159c15-a951-4219-850d-c33768509b01,6.792208,1.583333,5.569991
2,1201c8b4-6a0b-45f0-ac63-04b258d6d668,8.297314,8.174242,8.817338
3,12efa7c1-14af-4a50-ad7d-10d76c77af92,9.796898,4.262108,6.818644
4,130d3a79-9b84-43c3-b279-5ddb3c1390d2,15.400000,3.041667,19.075873

In [56]:
gem_freq_u.to_excel('gem_freq_u.xlsx')

## gem_duur_min_u_day|gem_duur_min_u_ev|gem_duur_min_u_night

## per_u_day|per_u_ev|per_u_night

## per_u_duur_day|per_u_duur_ev|per_u_duur_night