# 1042020_data_variablesonliterature.xlsx 'specifiek - content (app)'

In [1]:
#imports
import pandas as pd
import datetime as dt
import numpy as np
import itertools
from collections import Counter
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel("C:/Users/fdnecker/OneDrive - UGent/UGent/2019-2020/Doctoraat Floor/2019-2020/Smartphone_slaap_SimonA/MobileDNA data/input/ppn_logdagengrgl5.xlsx")

Nu een deel op basis van fancyname: specifieke applicaties en deel op basis van category (game categorieën)

## (1) fancyname analyse

inhoud = Instagram, Facebook, Snapchat, Messenger, Chrome, Whatsapp, Google, Clock, Google Play, Google Drive, Cold Turkey, Forest, Youtube, Yelo, Stievie, Spotify, Google Music, Samsung Music, 
Twitter, Reddit, VRTNWS, Netflix, 9GAG, Google Games

### gem_freq_d_...

###### = gemiddelde dagelijkse frequentie van smartphonegebruik met specifieke applicatie

In [5]:
gem_freq_d = df.groupby(['id', 'dag', 'fancyname' ])['gebruik'].count().groupby(['id', 'fancyname']).mean().to_frame()

In [6]:
gem_freq_d = gem_freq_d.reset_index()

In [7]:
gem_freq_d

,id,fancyname,gebruik
0,025a9d5a-8728-434d-9de6-9c263e7bf5cc,Easy Banking App,1.000000
1,025a9d5a-8728-434d-9de6-9c263e7bf5cc,Facebook,6.466667
2,025a9d5a-8728-434d-9de6-9c263e7bf5cc,Google,3.000000
3,025a9d5a-8728-434d-9de6-9c263e7bf5cc,Google Chrome: Fast & Secure,2.923077
4,025a9d5a-8728-434d-9de6-9c263e7bf5cc,Google Docs,1.000000
...,...,...,...
3052,f9b010d8-45b9-498f-a465-b6355cbdd7e3,SmartThings,1.000000
3053,f9b010d8-45b9-498f-a465-b6355cbdd7e3,"Spotify: Discover new music, podcasts, and songs",7.937500
3054,f9b010d8-45b9-498f-a465-b6355cbdd7e3,Takeaway.com - Belgium,3.000000
3055,f9b010d8-45b9-498f-a465-b6355cbdd7e3,WhatsApp Messenger,1.000000
3056,f9b010d8-45b9-498f-a465-b6355cbdd7e3,YouTube,3.500000

In [10]:
ppn_gem_freq_d = pd.pivot_table(gem_freq_d, values='gebruik', index=['id'],
                    columns=['fancyname'])

In [15]:
ppn_gem_freq_d_need = ppn_gem_freq_d[['Instagram', 'Facebook', 'Snapchat', 
                                     'Messenger – Text and Video Chat for Free', 'Google Chrome: Fast & Secure', 'WhatsApp Messenger',
                                     'Google', 'Clock', 'Google Play services',
                                     'Google Drive', 'Cold Turkey', 'Forest: Stay focused', 
                                     'YouTube', 'Yelo Play', 'Stievie TV kijken', 
                                     'Spotify: Discover new music, podcasts, and songs', 'Google Play Music', 'Samsung Music', 
                                     'Twitter', 'Reddit', 'VRT NWS', 
                                     'Netflix', '9GAG: Funny gifs, pics, fresh memes & viral videos', 'Google Play Games']]

In [16]:
ppn_gem_freq_d_need.columns = ['gem_freq_d_Insta','gem_freq_d_Facebook','gem_freq_d_Snapchat',
                               'gem_freq_d_Messenger','gem_freq_d_Chrome','gem_freq_d_Whatsapp', 'gem_freq_d_Google',
                               'gem_freq_d_Clock','gem_freq_d_Gplay','gem_freq_d_GDrive',
                              'gem_freq_d_CTurkey','gem_freq_d_Forest','gem_freq_d_Youtube',
                              'gem_freq_d_Yelo','gem_freq_d_Stievie','gem_freq_d_Spotify',
                              'gem_freq_d_GMusic','gem_freq_d_SMusic', 'gem_freq_d_Twitter',
                              'gem_freq_d_Reddit', 'gem_freq_d_VRTNWS',
                              'gem_freq_d_Netflix','gem_freq_d_9GAG','gem_freq_d_GGames']

In [17]:
ppn_gem_freq_d_need.to_excel('gem_freq_d_app.xlsx')

### gem_duur_min_d...

###### = gemiddelde dagelijkse duur van smartphonegebruik (minuten) gelinkt met specifieke app.

In [24]:
gem_duur_d = df.groupby(['id', 'dag', 'fancyname'])['duur_min'].sum().groupby(['id', 'fancyname']).mean().to_frame().reset_index()

In [25]:
gem_duur_d.head()

,id,fancyname,duur_min
0,025a9d5a-8728-434d-9de6-9c263e7bf5cc,Easy Banking App,1.873733
1,025a9d5a-8728-434d-9de6-9c263e7bf5cc,Facebook,9.404896
2,025a9d5a-8728-434d-9de6-9c263e7bf5cc,Google,0.784086
3,025a9d5a-8728-434d-9de6-9c263e7bf5cc,Google Chrome: Fast & Secure,9.041349
4,025a9d5a-8728-434d-9de6-9c263e7bf5cc,Google Docs,0.415100

In [26]:
gem_duur_min_d = pd.pivot_table(gem_duur_d, values='duur_min', index=['id'],
                    columns=['fancyname'])

In [27]:
gem_duur_min_d.head()

fancyname,2048,4411,2048 Ultimate,2dehands - Gratis zoekertjes,4 Plaatjes 1 Woord,7 Minute Workout,8 Ball Pool,8fit Workouts & Meal Planner,"9GAG: Funny gifs, pics, fresh memes & viral videos","<U+2764><U+FE0F>Emoji keyboard - Cute Emoticons, GIF, Stickers",...,gimme,itsme,mobile@vdk,mobileDNA,mope.io,myPill® Birth Control Reminder,reddit is fun (unofficial),sporza,sporza voetbal,trivago: Hotels & Travel
id,,,,,,,,,,,,,,,,,,,,,
025a9d5a-8728-434d-9de6-9c263e7bf5cc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.137843,NaN,NaN,NaN,NaN
11159c15-a951-4219-850d-c33768509b01,10.724833,1.011083,NaN,NaN,NaN,14.742619,NaN,NaN,NaN,2.035233,...,NaN,NaN,NaN,0.106862,NaN,NaN,NaN,NaN,NaN,NaN
1201c8b4-6a0b-45f0-ac63-04b258d6d668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12efa7c1-14af-4a50-ad7d-10d76c77af92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.038033,NaN,NaN,NaN,NaN,NaN,NaN
130d3a79-9b84-43c3-b279-5ddb3c1390d2,0.039100,NaN,NaN,2.011983,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.047583,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
gem_duur_min_d_need = gem_duur_min_d[['Instagram', 'Facebook', 'Snapchat', 
                                     'Messenger – Text and Video Chat for Free', 'Google Chrome: Fast & Secure', 'WhatsApp Messenger',
                                     'Google', 'Clock', 'Google Play services',
                                     'Google Drive', 'Cold Turkey', 'Forest: Stay focused', 
                                     'YouTube', 'Yelo Play', 'Stievie TV kijken', 
                                     'Spotify: Discover new music, podcasts, and songs', 'Google Play Music', 'Samsung Music', 
                                     'Twitter', 'Reddit', 'VRT NWS', 
                                     'Netflix', '9GAG: Funny gifs, pics, fresh memes & viral videos', 'Google Play Games']]

In [29]:
gem_duur_min_d_need.columns = ['gem_duur_min_d_Insta','gem_duur_min_d_Facebook','gem_duur_min_d_Snapchat',
                               'gem_duur_min_d_Messenger','gem_duur_min_d_Chrome','gem_duur_min_d_Whatsapp', 'gem_duur_min_d_Google',
                               'gem_duur_min_d_Clock','gem_duur_min_d_Gplay','gem_duur_min_d_GDrive',
                              'gem_duur_min_d_CTurkey','gem_duur_min_d_Forest','gem_duur_min_d_Youtube',
                              'gem_duur_min_d_Yelo','gem_duur_min_d_Stievie','gem_duur_min_d_Spotify',
                              'gem_duur_min_d_GMusic','gem_duur_min_d_SMusic', 'gem_duur_min_d_Twitter',
                              'gem_duur_min_d_Reddit', 'gem_duur_min_d_VRTNWS',
                              'gem_duur_min_d_Netflix','gem_duur_min_d_9GAG','gem_duur_min_d_GGames']

In [30]:
gem_duur_min_d_need.to_excel('gem_duur_min_app.xlsx')

## per_d_...

###### = gemiddelde percentage dagelijkse appevents gelinkt met specifieke app

In [45]:
appevents_dag_cat = df.groupby(['id', 'dag', 'fancyname' ])['gebruik'].count().to_frame().reset_index()

In [46]:
appevents_dag_cat.columns = ['id', 'dag','fancyname', 'appevents']

In [47]:
appevents_dag_cat.head()

,id,dag,fancyname,appevents
0,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,Facebook,7
1,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,Google,4
2,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,Google Chrome: Fast & Secure,5
3,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,Google Drive,2
4,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,Instagram,24

In [51]:
appevents_dag = appevents_dag_cat.groupby(['id', 'dag']).sum().reset_index()

In [52]:
appevents_dag.columns = ['id', 'dag', 'total appevents']

In [53]:
appevents_percentage_dag = pd.merge(appevents_dag_cat, appevents_dag, on = ['id', 'dag'])

In [54]:
appevents_percentage_dag

,id,dag,fancyname,appevents,total appevents
0,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,Facebook,7,82
1,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,Google,4,82
2,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,Google Chrome: Fast & Secure,5,82
3,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,Google Drive,2,82
4,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,Instagram,24,82
...,...,...,...,...,...
17683,f9b010d8-45b9-498f-a465-b6355cbdd7e3,2019-01-05,"Spotify: Discover new music, podcasts, and songs",6,11
17684,f9b010d8-45b9-498f-a465-b6355cbdd7e3,2019-01-06,Reddit,2,18
17685,f9b010d8-45b9-498f-a465-b6355cbdd7e3,2019-01-06,SmartThings,1,18
17686,f9b010d8-45b9-498f-a465-b6355cbdd7e3,2019-01-06,"Spotify: Discover new music, podcasts, and songs",11,18
17687,f9b010d8-45b9-498f-a465-b6355cbdd7e3,2019-01-06,YouTube,4,18

In [56]:
appevents_percentage_dag['prop_appE'] = appevents_percentage_dag['appevents']/appevents_percentage_dag['total appevents']

In [58]:
agg_appE = appevents_percentage_dag.groupby(['id', 'fancyname'])['prop_appE'].mean().to_frame()

In [59]:
agg_appE = agg_appE.reset_index()

In [60]:
agg_appE.head()

,id,fancyname,prop_appE
0,025a9d5a-8728-434d-9de6-9c263e7bf5cc,Easy Banking App,0.006329
1,025a9d5a-8728-434d-9de6-9c263e7bf5cc,Facebook,0.097027
2,025a9d5a-8728-434d-9de6-9c263e7bf5cc,Google,0.054192
3,025a9d5a-8728-434d-9de6-9c263e7bf5cc,Google Chrome: Fast & Secure,0.049378
4,025a9d5a-8728-434d-9de6-9c263e7bf5cc,Google Docs,0.011400

In [62]:
per_d_app = pd.pivot_table(agg_appE, values='prop_appE', index=['id'],
                    columns=['fancyname'])

In [63]:
per_d_app.head()

fancyname,2048,4411,2048 Ultimate,2dehands - Gratis zoekertjes,4 Plaatjes 1 Woord,7 Minute Workout,8 Ball Pool,8fit Workouts & Meal Planner,"9GAG: Funny gifs, pics, fresh memes & viral videos","<U+2764><U+FE0F>Emoji keyboard - Cute Emoticons, GIF, Stickers",...,gimme,itsme,mobile@vdk,mobileDNA,mope.io,myPill® Birth Control Reminder,reddit is fun (unofficial),sporza,sporza voetbal,trivago: Hotels & Travel
id,,,,,,,,,,,,,,,,,,,,,
025a9d5a-8728-434d-9de6-9c263e7bf5cc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.021176,NaN,NaN,NaN,NaN
11159c15-a951-4219-850d-c33768509b01,0.030303,0.034722,NaN,NaN,NaN,0.031271,NaN,NaN,NaN,0.017391,...,NaN,NaN,NaN,0.016300,NaN,NaN,NaN,NaN,NaN,NaN
1201c8b4-6a0b-45f0-ac63-04b258d6d668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12efa7c1-14af-4a50-ad7d-10d76c77af92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.011628,NaN,NaN,NaN,NaN,NaN,NaN
130d3a79-9b84-43c3-b279-5ddb3c1390d2,0.002625,NaN,NaN,0.007886,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.025000,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
per_d_app_need = per_d_app[['Instagram', 'Facebook', 'Snapchat', 
                                     'Messenger – Text and Video Chat for Free', 'Google Chrome: Fast & Secure', 'WhatsApp Messenger',
                                     'Google', 'Clock', 'Google Play services',
                                     'Google Drive', 'Cold Turkey', 'Forest: Stay focused', 
                                     'YouTube', 'Yelo Play', 'Stievie TV kijken', 
                                     'Spotify: Discover new music, podcasts, and songs', 'Google Play Music', 'Samsung Music', 
                                     'Twitter', 'Reddit', 'VRT NWS', 
                                     'Netflix', '9GAG: Funny gifs, pics, fresh memes & viral videos', 'Google Play Games']]

In [65]:
per_d_app_need.columns = ['per_d_Insta','per_d_Facebook','per_d_Snapchat',
                               'per_d_Messenger','per_d_Chrome','per_d_Whatsapp', 'per_d_Google',
                               'per_d_Clock','per_d_Gplay','per_d_GDrive',
                              'per_d_CTurkey','per_d_Forest','per_d_Youtube',
                              'per_d_Yelo','per_d_Stievie','per_d_Spotify',
                              'per_d_GMusic','per_d_SMusic', 'per_d_Twitter',
                              'per_d_Reddit', 'per_d_VRTNWS',
                              'per_d_Netflix','per_d_9GAG','per_d_GGames']

In [66]:
per_d_app_need.to_excel('per_d_app.xlsx')

## per_d_duur_...

###### = gemiddelde percentage van dagelijkse duur smartphonegebruik gelinkt met categorie

In [69]:
min_id_dag_app = df.groupby(['id', 'dag', 'fancyname'])['duur_min'].sum().to_frame().reset_index()

In [70]:
min_id_dag_app.head()

,id,dag,fancyname,duur_min
0,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,Facebook,3.282750
1,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,Google,0.836117
2,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,Google Chrome: Fast & Secure,2.788083
3,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,Google Drive,2.736283
4,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,Instagram,22.652167

In [71]:
min_id_dag = df.groupby(['id', 'dag'])['duur_min'].sum().to_frame().reset_index()

In [72]:
min_id_dag.head()

                                     id        dag   duur_min
0  025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-21  63.174383
1  025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-22  28.295283
2  025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-23  48.652317
3  025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-24  96.388067
4  025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-25  64.702883

In [73]:
per_d_duur = pd.merge(min_id_dag_app, min_id_dag, on = ['id', 'dag'])

In [74]:
per_d_duur.head()

,id,dag,fancyname,duur_min_x,duur_min_y
0,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,Facebook,3.282750,63.174383
1,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,Google,0.836117,63.174383
2,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,Google Chrome: Fast & Secure,2.788083,63.174383
3,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,Google Drive,2.736283,63.174383
4,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,Instagram,22.652167,63.174383

In [75]:
per_d_duur.columns = ['id', 'dag', 'fancyname', 'min_app_dag', 'min_dag']

In [76]:
per_d_duur['per_d_duur'] = per_d_duur['min_app_dag']/per_d_duur['min_dag']

In [77]:
per_d_duur_app = per_d_duur.groupby(['id', 'fancyname'])['per_d_duur'].mean().to_frame()

In [78]:
per_d_duur_app = per_d_duur_app.reset_index()

In [79]:
per_d_duur_app.head()

,id,fancyname,per_d_duur
0,025a9d5a-8728-434d-9de6-9c263e7bf5cc,Easy Banking App,0.008870
1,025a9d5a-8728-434d-9de6-9c263e7bf5cc,Facebook,0.095890
2,025a9d5a-8728-434d-9de6-9c263e7bf5cc,Google,0.008473
3,025a9d5a-8728-434d-9de6-9c263e7bf5cc,Google Chrome: Fast & Secure,0.104638
4,025a9d5a-8728-434d-9de6-9c263e7bf5cc,Google Docs,0.002818

In [80]:
per_d_duur_apps = pd.pivot_table(per_d_duur_app, values='per_d_duur', index=['id'],
                    columns=['fancyname'])

In [81]:
per_d_duur_apps_need = per_d_duur_apps[['Instagram', 'Facebook', 'Snapchat', 
                                     'Messenger – Text and Video Chat for Free', 'Google Chrome: Fast & Secure', 'WhatsApp Messenger',
                                     'Google', 'Clock', 'Google Play services',
                                     'Google Drive', 'Cold Turkey', 'Forest: Stay focused', 
                                     'YouTube', 'Yelo Play', 'Stievie TV kijken', 
                                     'Spotify: Discover new music, podcasts, and songs', 'Google Play Music', 'Samsung Music', 
                                     'Twitter', 'Reddit', 'VRT NWS', 
                                     'Netflix', '9GAG: Funny gifs, pics, fresh memes & viral videos', 'Google Play Games']]

In [82]:
per_d_duur_apps_need.columns = ['per_d_duur_Insta','per_d_duur_Facebook','per_d_duur_Snapchat',
                               'per_d_duur_Messenger','per_d_duur_Chrome','per_d_duur_Whatsapp', 'per_d_duur_Google',
                               'per_d_duur_Clock','per_d_duur_Gplay','per_d_duur_GDrive',
                              'per_d_duur_CTurkey','per_d_duur_Forest','per_d_duur_Youtube',
                              'per_d_duur_Yelo','per_d_duur_Stievie','per_d_duur_Spotify',
                              'per_d_duur_GMusic','per_d_duur_SMusic', 'per_d_duur_Twitter',
                              'per_d_duur_Reddit', 'per_d_duur_VRTNWS',
                              'per_d_duur_Netflix','per_d_duur_9GAG','per_d_duur_GGames']

In [83]:
per_d_duur_apps_need.to_excel('per_d_duur_apps.xlsx')

## (2) category analyse (game categorieën)

In [ ]:
strategy, simulation, arcade, puzzle, action, adventure, role play

## gem_freq_d_...

###### = gemiddelde dagelijkse frequentie van smartphonegebruik met game categorie

In [84]:
gem_freq_d = df.groupby(['id', 'dag', 'category' ])['fancyname'].count().groupby(['id', 'category']).mean().to_frame().reset_index()

In [20]:
ppn_gem_freq_d = pd.pivot_table(gem_freq_d, values='fancyname', index=['id'],
                    columns=['category'])

In [21]:
ppn_gem_freq_d_need = ppn_gem_freq_d[['strategy','simulation', 'arcade', 'puzzle', 'action', 'adventure', 'role playing']]

In [22]:
ppn_gem_freq_d_need.columns = ['gem_freq_d_Strategy','gem_freq_d_Simulation','gem_freq_d_Arcade','gem_freq_d_Puzzle','gem_freq_d_Action','gem_freq_d_Adventure','gem_freq_d_Role']

In [23]:
ppn_gem_freq_d_need.to_excel('gem_freq_d_gamecat.xlsx')

## gem_duur_min_d...

###### = gemiddelde dagelijkse duur van smartphonegebruik (minuten) gelinkt met game categorie.

In [31]:
gem_duur_d = df.groupby(['id', 'dag', 'category'])['duur_min'].sum().groupby(['id', 'category']).mean().to_frame().reset_index()

In [32]:
gem_duur_d.head()

                                     id       category   duur_min
0  025a9d5a-8728-434d-9de6-9c263e7bf5cc  communication  21.817106
1  025a9d5a-8728-434d-9de6-9c263e7bf5cc      education   9.669587
2  025a9d5a-8728-434d-9de6-9c263e7bf5cc  entertainment  76.871567
3  025a9d5a-8728-434d-9de6-9c263e7bf5cc        finance   1.873733
4  025a9d5a-8728-434d-9de6-9c263e7bf5cc        medical   0.137843

In [33]:
gem_duur_min_d = pd.pivot_table(gem_duur_d, values='duur_min', index=['id'],
                    columns=['category'])

In [34]:
gem_duur_min_d.head()

category,action,adventure,arcade,art & design,auto & vehicles,beauty,board,books & reference,business,card,...,social,sports,strategy,system,tools,travel & local,trivia,video players & editors,weather,word
id,,,,,,,,,,,,,,,,,,,,,
025a9d5a-8728-434d-9de6-9c263e7bf5cc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.048351,NaN,NaN,0.318113,0.943055,3.125706,NaN,6.161494,NaN,NaN
11159c15-a951-4219-850d-c33768509b01,NaN,3.842633,50.429467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,54.486620,NaN,NaN,1.814969,6.599084,4.968205,NaN,4.588564,NaN,NaN
1201c8b4-6a0b-45f0-ac63-04b258d6d668,7.724342,NaN,NaN,NaN,NaN,NaN,1.528167,NaN,NaN,NaN,...,6.480163,1.564475,NaN,1.968026,17.007762,0.823953,1.572683,40.076243,NaN,NaN
12efa7c1-14af-4a50-ad7d-10d76c77af92,NaN,NaN,4.493477,NaN,NaN,NaN,NaN,NaN,0.013917,NaN,...,61.297227,NaN,NaN,3.139838,4.054467,3.651289,NaN,39.179841,NaN,24.539727
130d3a79-9b84-43c3-b279-5ddb3c1390d2,NaN,NaN,49.284944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.822593,NaN,NaN,1.767767,1.215343,0.857772,NaN,3.177608,0.232108,NaN

In [36]:
gem_duur_min_d_need = gem_duur_min_d[['strategy','simulation', 'arcade', 'puzzle', 'action', 'adventure', 'role playing']]

In [37]:
gem_duur_min_d_need.columns = ['gem_duur_min_d_Strategy','gem_duur_min_d_Simulation','gem_duur_min_d_Arcade','gem_duur_min_d_Puzzle','gem_duur_min_d_Action','gem_duur_min_d_Adventure','gem_duur_min_d_Role']

In [38]:
gem_duur_min_d_need.to_excel('gem_duur_min_gamecat.xlsx')

## per_d_...

###### = gemiddelde percentage dagelijkse appevents gelinkt met categorie

In [85]:
appevents_dag_app = df.groupby(['id', 'dag', 'category' ])['fancyname'].count().to_frame().reset_index()

In [86]:
appevents_dag_app.columns = ['id', 'dag','category', 'appevents']

In [87]:
appevents_dag_app.head()

                                     id        dag       category  appevents
0  025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-21  communication         34
1  025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-21        medical          1
2  025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-21    photography          0
3  025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-21   productivity          2
4  025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-21         social         38

In [90]:
appevents_dag = appevents_dag_app.groupby(['id', 'dag']).sum().reset_index()

In [91]:
appevents_dag.columns = ['id', 'dag', 'total appevents']

In [92]:
appevents_percentage_dag = pd.merge(appevents_dag_app, appevents_dag, on = ['id', 'dag'])

In [93]:
appevents_percentage_dag

,id,dag,category,appevents,total appevents
0,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,communication,34,82
1,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,medical,1,82
2,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,photography,0,82
3,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,productivity,2,82
4,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,social,38,82
...,...,...,...,...,...
13416,f9b010d8-45b9-498f-a465-b6355cbdd7e3,2019-01-06,lifestyle,1,18
13417,f9b010d8-45b9-498f-a465-b6355cbdd7e3,2019-01-06,music & audio,11,18
13418,f9b010d8-45b9-498f-a465-b6355cbdd7e3,2019-01-06,news & magazines,2,18
13419,f9b010d8-45b9-498f-a465-b6355cbdd7e3,2019-01-06,system,0,18
13420,f9b010d8-45b9-498f-a465-b6355cbdd7e3,2019-01-06,video players & editors,4,18

In [96]:
appevents_percentage_dag['prop_appE'] = appevents_percentage_dag['appevents']/appevents_percentage_dag['total appevents']

In [99]:
agg_appE = appevents_percentage_dag.groupby(['id', 'category'])['prop_appE'].mean().to_frame().reset_index()

In [100]:
agg_appE.head()

                                     id       category  prop_appE
0  025a9d5a-8728-434d-9de6-9c263e7bf5cc  communication   0.337595
1  025a9d5a-8728-434d-9de6-9c263e7bf5cc      education   0.095921
2  025a9d5a-8728-434d-9de6-9c263e7bf5cc  entertainment   0.119000
3  025a9d5a-8728-434d-9de6-9c263e7bf5cc        finance   0.006329
4  025a9d5a-8728-434d-9de6-9c263e7bf5cc        medical   0.021176

In [102]:
per_d_gamecat = pd.pivot_table(agg_appE, values='prop_appE', index=['id'],
                    columns=['category'])

In [103]:
per_d_gamecat.head()

category,action,adventure,arcade,art & design,auto & vehicles,beauty,board,books & reference,business,card,...,social,sports,strategy,system,tools,travel & local,trivia,video players & editors,weather,word
id,,,,,,,,,,,,,,,,,,,,,
025a9d5a-8728-434d-9de6-9c263e7bf5cc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.450584,NaN,NaN,0.0,0.054419,0.023811,NaN,0.026728,NaN,NaN
11159c15-a951-4219-850d-c33768509b01,NaN,0.027371,0.108980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.385326,NaN,NaN,0.0,0.076885,0.131047,NaN,0.024769,NaN,NaN
1201c8b4-6a0b-45f0-ac63-04b258d6d668,0.015424,NaN,NaN,NaN,NaN,NaN,0.009804,NaN,NaN,NaN,...,0.101335,0.008782,NaN,0.0,0.295859,0.017843,0.012422,0.063145,NaN,NaN
12efa7c1-14af-4a50-ad7d-10d76c77af92,NaN,NaN,0.033798,NaN,NaN,NaN,NaN,NaN,0.008621,NaN,...,0.349020,NaN,NaN,0.0,0.046648,0.035832,NaN,0.072916,NaN,0.134241
130d3a79-9b84-43c3-b279-5ddb3c1390d2,NaN,NaN,0.050921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.141066,NaN,NaN,0.0,0.000375,0.008035,NaN,0.014228,0.00473,NaN

In [104]:
per_d_gamecat_need = per_d_gamecat[['strategy','simulation', 'arcade', 'puzzle', 'action', 'adventure', 'role playing']]

In [105]:
per_d_gamecat_need.columns = ['per_d_Strategy','per_d_Simulation','per_d_Arcade','per_d_Puzzle','per_d_Action','per_d_Adventure','per_d_Role']

In [106]:
per_d_gamecat_need.to_excel('per_d_gamecat_need.xlsx')

## per_d_duur_...

###### = gemiddelde percentage van dagelijkse duur smartphonegebruik gelinkt met categorie

In [108]:
min_id_dag_gamecat = df.groupby(['id', 'dag', 'category'])['duur_min'].sum()

In [109]:
min_id_dag_gamecat = min_id_dag_gamecat.to_frame().reset_index()

In [110]:
min_id_dag_gamecat.head()

                                     id        dag       category   duur_min
0  025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-21  communication  26.148783
1  025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-21        medical   0.149750
2  025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-21    photography   0.800600
3  025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-21   productivity   2.736283
4  025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-21         social  30.159217

In [111]:
min_id_dag = df.groupby(['id', 'dag'])['duur_min'].sum().to_frame().reset_index()

In [112]:
min_id_dag.head()

                                     id        dag   duur_min
0  025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-21  63.174383
1  025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-22  28.295283
2  025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-23  48.652317
3  025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-24  96.388067
4  025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-25  64.702883

In [113]:
per_d_duur = pd.merge(min_id_dag_gamecat, min_id_dag, on = ['id', 'dag'])

In [114]:
per_d_duur.head()

,id,dag,category,duur_min_x,duur_min_y
0,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,communication,26.148783,63.174383
1,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,medical,0.149750,63.174383
2,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,photography,0.800600,63.174383
3,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,productivity,2.736283,63.174383
4,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,social,30.159217,63.174383

In [115]:
per_d_duur.columns = ['id', 'dag', 'category', 'min_gamecat_dag', 'min_dag']

In [116]:
per_d_duur['per_d_duur'] = per_d_duur['min_gamecat_dag']/per_d_duur['min_dag']

In [117]:
per_d_duur_cat = per_d_duur.groupby(['id', 'category'])['per_d_duur'].mean().to_frame().reset_index()

In [118]:
per_d_duur_cat.head()

                                     id       category  per_d_duur
0  025a9d5a-8728-434d-9de6-9c263e7bf5cc  communication    0.219048
1  025a9d5a-8728-434d-9de6-9c263e7bf5cc      education    0.089341
2  025a9d5a-8728-434d-9de6-9c263e7bf5cc  entertainment    0.490225
3  025a9d5a-8728-434d-9de6-9c263e7bf5cc        finance    0.008870
4  025a9d5a-8728-434d-9de6-9c263e7bf5cc        medical    0.001976

In [120]:
per_d_duur_gamecategories = pd.pivot_table(per_d_duur, values='per_d_duur', index=['id'],
                    columns=['category'])

In [121]:
per_d_duur_gamecategories_need = per_d_duur_gamecategories[['strategy','simulation', 'arcade', 'puzzle', 'action', 'adventure', 'role playing']]

In [122]:
per_d_duur_gamecategories_need.columns = ['per_d_duur_Strategy','per_d_duur_Simulation','per_d_duur_Arcade','per_d_duur_Puzzle','per_d_duur_Action','per_d_duur_Adventure','per_d_duur_Role']

In [123]:
per_d_duur_gamecategories_need.to_excel('per_d_duur_gamecat.xlsx')

In [124]:
appevents_dag.head()

                                     id        dag  total appevents
0  025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-21               82
1  025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-22               26
2  025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-23               24
3  025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-24               64
4  025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-25               36

In [126]:
appevents_dag.groupby(['id'])['total appevents'].mean().to_frame().reset_index()

                                       id  total appevents
0    025a9d5a-8728-434d-9de6-9c263e7bf5cc        63.411765
1    11159c15-a951-4219-850d-c33768509b01        86.882353
2    1201c8b4-6a0b-45f0-ac63-04b258d6d668       131.705882
3    12efa7c1-14af-4a50-ad7d-10d76c77af92       108.000000
4    130d3a79-9b84-43c3-b279-5ddb3c1390d2       211.000000
..                                    ...              ...
101  f29e3bf2-8b9a-48a5-a83f-dcff88fe9b70       130.705882
102  f3214263-3140-4687-bd61-1fbc68623b3f       214.235294
103  f3d282d8-1be9-4cde-aa37-21e4dbacd77b        79.882353
104  f6b9965f-312a-44e8-a54c-ea16242894fa        38.176471
105  f9b010d8-45b9-498f-a465-b6355cbdd7e3        24.352941

[106 rows x 2 columns]